section{
    background-color: aqua;
    color:blueviolet
    

}
img{
    width:8cm;
    height:4cm;
}

.ball{
background-color:blueviolet;
height:150px;
width: 150px;
}
#bouncing{
position:absolute;
}

body{
    margin: 0;
    padding:0;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
